{
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "16.7.0"
    }
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "extends": [
    "standard-jsx",
    "eslint:recommended",
    "plugin:jsx-a11y/strict"
  ],
  "rules": {
    "jsx-a11y/rule-name": 2,
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
      }
    ],
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error"
  }
}